@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,700');


a:-webkit-any-link {
    color: #000000;
    cursor: grab;
    text-decoration: none;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}


body {
  font-family: 'Encode Sans', sans-serif;
}

.featured-question-title{
  font-size: 1.4em; background-color:#f3f3f3; padding: 1em;
}

header,
section,
div,
footer {
  box-sizing: border-box;
}

/*page header*/

.page-header {
  width: 100%;
}
.featured-question-body{
    white-space: pre-wrap;
    font-family: 'Yu Gothic UI', serif; font-size: 1.5em; justify-content:center; text-justify: inter-cluster;
}
.inner-header {
  width: 100%;
  padding-top: 10px;

}

.profile-pic {
  border-radius: 70px;
}

.intro-summary {
  float: right;
  text-align: right;
  margin-top: 15px;
}

.name {
  font-size: 48px;
  margin-bottom: 5px;
  margin-top: 0;
}



/* horizontal line*/

.hr {
  height: 5px;
  background-color: lightseagreen;
  border: 0;
}

/* main tag*/

.main-content {
  width: 100%;
}

/* background image for feature project, div tag*/

#avatar{
    border-radius: 50%;
    object-position: top;
}
.featured-question {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: calc(100vw / 5);
}

/* featured skills section */
/* below style is common to all projects class children*/

.featured-skills {
  width: 100%;
}
.menus{
    display: inline-flex; list-style: none; text-decoration: none;
}

/* Login/Registration Form */

.login-form {
  max-width: 420px;
  width: 100%;
}

/*featured-skills heading*/

.featured-heading {
  text-align: left;
  font-weight: 500;
  font-size: 2.6em;
    float: right;
}
.menu-item{
    padding: 1em;
    border: 1px solid cornsilk;
    font-size: 1.2em;
    font-family: "Droid Sans Mono Slashed", serif;
    cursor: grab;
    text-decoration: none;
    text-underline: none;
}
.menu-item:hover{
    color: lightseagreen;
    border-radius: 1.4em;
    text-decoration: none;
    text-underline: none;
}
.questions {
  width:100%;
}

.proj-header {
  font-size: 24px;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: 1px;
  transition: letter-spacing .3s;
  margin-bottom: 13px;
}
.menu-items-ul{
    display: inline-flex; list-style: none; text-decoration: none;
}

/* transition effect */

.question-body,
.question-img {
  transition: width .6s;
}

.question-title {
  margin-top: 5px;
  text-align: center;
  font-size: 19px;
  margin-bottom: 5px;
}


.gitHub-link {
  display: block;
  text-align: center;
}


/*footer for page*/

.page-footer {
  width: 100%;
}

.answer-link{
	visibility: hidden;
}
#answer-status{
	background: #f3f3f3;
	visibility: hidden;
	color: green;
}
#answer-again{
	visibility: hidden;
	background: grey;
}
.error{
	color: red;
}
#answer-body{
	width: 44vw;
	height: 4em;
	border-radius: 20px;
}
