.ask-question-form{
    padding: 20px auto;
    border: 10em cornsilk;
}
#ask-question-title{
margin-bottom: 2em;
border-radius: 4px;
border-style: ridge;
width: 20vw;
height: 2em
}
#question-body{
	width: 60vw;
	height: 10em;
	border-radius: 8px;
	border:0.2em solid grey;
	margin-top: 4px;
}

#ask-question-submit-button{
	/*float: right;*/
	padding: 1em 2em 1em 2em;
/*	background: #0b948d;*/
	border-radius: 6px;
}
#ask-question-submit-button:hover{
	background: #f3f3f3;
	cursor: not-allowed;
}